
<h2>Создать пользователя</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Patronymic</td>
            <td>@item.Age</td>
            <td>@item.City</td>
            <td>@item.Experience</td>
            <td>@item.DOB</td>
            <td>@Html.ActionLink("Назад", "Index")</td>
        </tr>
    }
</table>

@Html.ActionLink("Назад", "Index")



